<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHXqVtDlY-3QVgBRnDSMFW9a_QOxCpCDU</string>
	<key>GCM_SENDER_ID</key>
	<string>427307624167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yendooApp</string>
	<key>PROJECT_ID</key>
	<string>yendoo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yendoo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427307624167:ios:8a6f28ef1b18b089cc6442</string>
</dict>
</plist>